:root {
  font-size: 10px;
}

.app {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.spinnyboi {
  width: 50rem;
  height: 50rem;
  background-color: #ccc;
  position: relative;
  display: grid;
  justify-items: center;
  border-radius: 1rem;
}

.item {
  font-size: 2rem;
  position: absolute;
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  width: 12rem;
  height: 12rem;
  display: grid;
  place-items: center;
  margin: 0 auto;
  transform-origin: center 25rem;
  transition: 0.5s;
  border-radius: 1rem;
}

.spin-button {
  align-self: center;
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  border: none;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 7px;
  }
}
